@charset "UTF-8";
body {
	font-family: 'Arial', sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 40px;
	text-align: center;
}

/* 검색 양식 스타일 */
#searchFrm {
	display: flex;
	justify-content: center;
}


#keyword {
	flex-grow: 1;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 10px;
	width: 300px;
}

#searchBtn {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#searchBtn:hover {
	background-color: #0056b3;
}
.btn {
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.btn:active {
	background-color: #0056b3;
}
a {
	text-decoration: none;
	color: inherit;
}
.header-flex {
	display: flex;
	flex-direction : row;
	align-items: center;
	justify-content: space-between;
	padding : 10px 40px;
}
.header-left {
	color: #007bff;
}
.header-right {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	border: 1px #007bff solid;
	padding: 10px;
	margin-left: 10%;
}
.header-menu {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-between;
	margin-top: 10px;
}
.logo {
    height: 170px;
    width: 300px;
}
.nav-bar {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.nav-bar li {
	margin: 0 10px; /* li 태그의 좌우 여백을 조정합니다. */
	width: 49%;
	text-align: center;
}

.nav-bar a {
	display: block; /* a 태그를 블록 레벨 요소로 만들어 영역 전체가 클릭 가능하게 합니다. */
	padding: 10px 20px; /* 클릭 가능한 영역을 늘립니다. */
	color: white; /* a 태그의 텍스트 색상을 지정합니다. */
	text-decoration: none; /* 밑줄을 제거합니다. */
}

.nav-bar a:hover {
	background-color: #0056b3; /* 마우스 오버 시 배경색 변경 */
	border-radius: 5px; /* 마우스 오버 시 테두리 둥글게 */
}
